/*Pallete*/
@font-face {
  font-family: "kano";
  src: url("/resources/fonts/Kano.otf"); }
@font-face {
  font-family: "open-sans";
  src: url("/resources/fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: "open-sans-light";
  src: url("/resources/fonts/OpenSans-Light.ttf"); }
body {
  padding: 0px;
  margin: 0px;
  font-family: helvetica, arial, verdana, sans-serif;
  background-color: #000000; }

.container-main {
  padding: 0px;
  margin: 0px; }

header {
  background-color: #5D5C61 !important;
  color: #aeadb2; }

.navbar-default {
  background-image: none;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  margin-bottom: 0px; }

/* Navigation */
/*.navbar {position: absolute; z-index:10;}
.navbar .container {background-color: transparent;}
.navbar .navbar-nav li a {text-shadow: none; font-weight: bold; color: $nav-font-colour;}
*/
.navbar-brand {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none; }

.navbar .navbar-nav li a, .navbar .navbar-brand {
  color: #aeadb2;
  text-shadow: none; }
  .navbar .navbar-nav li a:hover, .navbar .navbar-brand:hover {
    color: #aeadb2;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none; }
  .navbar .navbar-nav li a:focus, .navbar .navbar-brand:focus {
    color: #aeadb2;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none; }
  .navbar .navbar-nav li a:active, .navbar .navbar-brand:active {
    color: #aeadb2;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none; }

.navbar-toggle {
  border-color: #aeadb2 !important; }

.icon-bar {
  background-color: #aeadb2 !important; }

.navbar-collapse {
  border-color: #aeadb2 !important; }

/* Slider*/
.carosel img {
  width: 100%;
  max-height: 700px;
  height: auto;
  border-style: none;
  outline: none; }

.segment-display {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px; }

.segment-display h1 {
  font-size: 30px;
  font-family: "open-sans-light";
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px; }

.segment-display p {
  font-size: 17px;
  line-height: 2; }

.segment-about {
  background-color: #938E94;
  color: #3c373d; }

.segment-demo {
  background-color: #7395AE;
  color: #3d576b; }

.segment-testimonials {
  background-color: #557A95;
  color: #afc9db; }

.demo-list li {
  position: relative;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
  cursor: pointer;
  list-style: none;
  line-height: 37px;
  padding-left: 50px; }

.demo-list li + li {
  margin-top: 20px; }

.demo-list li::before {
  content: '\f04b';
  font-family: 'FontAwesome';
  position: absolute;
  left: 0px;
  width: 37px;
  height: 37px;
  line-height: 35px;
  font-size: 14px;
  border: 1px solid #ffffff;
  text-align: center;
  border-radius: 50%; }

.demo-list li.playing::before {
  content: '\f04c';
  background-color: #ffffff;
  color: #701f1f;
  transition: 0.4s; }

.demo-list li.paused::before {
  content: '\f04b';
  background-color: #ffffff;
  color: #701f1f;
  transition: 0.4s; }

/* Audio Player */
#audio-bar {
  display: none; }

/* HTML 5 picture*/
picture {
  width: 100%;
  max-width: 600px; }

picture source, picture img {
  width: 100%;
  max-width: 600px; }

/*# sourceMappingURL=main.css.map */
